<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>cid02993</key>
    <string>cid02993.glif</string>
    <key>cid12218</key>
    <string>cid12218.glif</string>
    <key>cid12663</key>
    <string>cid12663.glif</string>
    <key>cid12788</key>
    <string>cid12788.glif</string>
    <key>cid12792</key>
    <string>cid12792.glif</string>
    <key>cid13014</key>
    <string>cid13014.glif</string>
    <key>cid15103</key>
    <string>cid15103.glif</string>
    <key>cid16849</key>
    <string>cid16849.glif</string>
    <key>cid17155</key>
    <string>cid17155.glif</string>
    <key>cid17181</key>
    <string>cid17181.glif</string>
    <key>cid18290</key>
    <string>cid18290.glif</string>
    <key>cid19547</key>
    <string>cid19547.glif</string>
    <key>cid19754</key>
    <string>cid19754.glif</string>
    <key>cid19954</key>
    <string>cid19954.glif</string>
    <key>cid20015</key>
    <string>cid20015.glif</string>
    <key>cid20078</key>
    <string>cid20078.glif</string>
    <key>cid20353</key>
    <string>cid20353.glif</string>
    <key>cid21593</key>
    <string>cid21593.glif</string>
    <key>cid24141</key>
    <string>cid24141.glif</string>
    <key>cid24151</key>
    <string>cid24151.glif</string>
    <key>cid24587</key>
    <string>cid24587.glif</string>
    <key>cid24627</key>
    <string>cid24627.glif</string>
    <key>cid25137</key>
    <string>cid25137.glif</string>
    <key>cid25595</key>
    <string>cid25595.glif</string>
    <key>cid25596</key>
    <string>cid25596.glif</string>
    <key>cid26870</key>
    <string>cid26870.glif</string>
    <key>cid31183</key>
    <string>cid31183.glif</string>
    <key>cid35047</key>
    <string>cid35047.glif</string>
    <key>cid35794</key>
    <string>cid35794.glif</string>
    <key>cid35847</key>
    <string>cid35847.glif</string>
    <key>cid35874</key>
    <string>cid35874.glif</string>
    <key>cid35890</key>
    <string>cid35890.glif</string>
    <key>cid35892</key>
    <string>cid35892.glif</string>
    <key>cid35915</key>
    <string>cid35915.glif</string>
    <key>cid35922</key>
    <string>cid35922.glif</string>
    <key>cid35924</key>
    <string>cid35924.glif</string>
    <key>cid35941</key>
    <string>cid35941.glif</string>
    <key>cid35947</key>
    <string>cid35947.glif</string>
    <key>cid35949</key>
    <string>cid35949.glif</string>
    <key>cid35954</key>
    <string>cid35954.glif</string>
    <key>cid35960</key>
    <string>cid35960.glif</string>
    <key>cid35993</key>
    <string>cid35993.glif</string>
    <key>cid35997</key>
    <string>cid35997.glif</string>
    <key>cid36002</key>
    <string>cid36002.glif</string>
    <key>cid36014</key>
    <string>cid36014.glif</string>
    <key>cid36034</key>
    <string>cid36034.glif</string>
    <key>cid36037</key>
    <string>cid36037.glif</string>
    <key>cid36039</key>
    <string>cid36039.glif</string>
    <key>cid36042</key>
    <string>cid36042.glif</string>
    <key>cid36057</key>
    <string>cid36057.glif</string>
    <key>cid36061</key>
    <string>cid36061.glif</string>
    <key>cid36097</key>
    <string>cid36097.glif</string>
    <key>cid36105</key>
    <string>cid36105.glif</string>
    <key>cid36122</key>
    <string>cid36122.glif</string>
    <key>cid36144</key>
    <string>cid36144.glif</string>
    <key>cid36149</key>
    <string>cid36149.glif</string>
    <key>cid36160</key>
    <string>cid36160.glif</string>
    <key>cid36170</key>
    <string>cid36170.glif</string>
    <key>cid36197</key>
    <string>cid36197.glif</string>
    <key>cid36201</key>
    <string>cid36201.glif</string>
    <key>cid36204</key>
    <string>cid36204.glif</string>
    <key>cid36221</key>
    <string>cid36221.glif</string>
    <key>cid36224</key>
    <string>cid36224.glif</string>
    <key>cid36280</key>
    <string>cid36280.glif</string>
    <key>cid36309</key>
    <string>cid36309.glif</string>
    <key>cid36334</key>
    <string>cid36334.glif</string>
    <key>cid36338</key>
    <string>cid36338.glif</string>
    <key>cid36348</key>
    <string>cid36348.glif</string>
    <key>cid36362</key>
    <string>cid36362.glif</string>
    <key>cid36368</key>
    <string>cid36368.glif</string>
    <key>cid36376</key>
    <string>cid36376.glif</string>
    <key>cid36378</key>
    <string>cid36378.glif</string>
    <key>cid36391</key>
    <string>cid36391.glif</string>
    <key>cid36424</key>
    <string>cid36424.glif</string>
    <key>cid36437</key>
    <string>cid36437.glif</string>
    <key>cid36446</key>
    <string>cid36446.glif</string>
    <key>cid36469</key>
    <string>cid36469.glif</string>
    <key>cid36483</key>
    <string>cid36483.glif</string>
    <key>cid36496</key>
    <string>cid36496.glif</string>
    <key>cid36498</key>
    <string>cid36498.glif</string>
    <key>cid36501</key>
    <string>cid36501.glif</string>
    <key>cid36523</key>
    <string>cid36523.glif</string>
    <key>cid36531</key>
    <string>cid36531.glif</string>
    <key>cid38005</key>
    <string>cid38005.glif</string>
    <key>cid38036</key>
    <string>cid38036.glif</string>
    <key>cid39590</key>
    <string>cid39590.glif</string>
    <key>cid39692</key>
    <string>cid39692.glif</string>
    <key>cid39702</key>
    <string>cid39702.glif</string>
    <key>cid39747</key>
    <string>cid39747.glif</string>
    <key>cid39759</key>
    <string>cid39759.glif</string>
    <key>cid39784</key>
    <string>cid39784.glif</string>
    <key>cid39798</key>
    <string>cid39798.glif</string>
    <key>cid39828</key>
    <string>cid39828.glif</string>
    <key>cid39855</key>
    <string>cid39855.glif</string>
    <key>cid39881</key>
    <string>cid39881.glif</string>
    <key>cid39889</key>
    <string>cid39889.glif</string>
    <key>cid40229</key>
    <string>cid40229.glif</string>
    <key>cid40970</key>
    <string>cid40970.glif</string>
    <key>cid40972</key>
    <string>cid40972.glif</string>
    <key>cid40993</key>
    <string>cid40993.glif</string>
    <key>cid41017</key>
    <string>cid41017.glif</string>
    <key>cid41030</key>
    <string>cid41030.glif</string>
    <key>cid41032</key>
    <string>cid41032.glif</string>
    <key>cid41035</key>
    <string>cid41035.glif</string>
    <key>cid41038</key>
    <string>cid41038.glif</string>
    <key>cid41054</key>
    <string>cid41054.glif</string>
    <key>cid41060</key>
    <string>cid41060.glif</string>
    <key>cid41064</key>
    <string>cid41064.glif</string>
    <key>cid41084</key>
    <string>cid41084.glif</string>
    <key>cid41087</key>
    <string>cid41087.glif</string>
    <key>cid41097</key>
    <string>cid41097.glif</string>
    <key>cid41101</key>
    <string>cid41101.glif</string>
    <key>cid41105</key>
    <string>cid41105.glif</string>
    <key>cid41116</key>
    <string>cid41116.glif</string>
    <key>cid41121</key>
    <string>cid41121.glif</string>
    <key>cid41129</key>
    <string>cid41129.glif</string>
    <key>cid41145</key>
    <string>cid41145.glif</string>
    <key>cid41149</key>
    <string>cid41149.glif</string>
    <key>cid41221</key>
    <string>cid41221.glif</string>
    <key>cid41237</key>
    <string>cid41237.glif</string>
    <key>cid43627</key>
    <string>cid43627.glif</string>
    <key>cid43631</key>
    <string>cid43631.glif</string>
    <key>cid43686</key>
    <string>cid43686.glif</string>
    <key>cid43721</key>
    <string>cid43721.glif</string>
    <key>cid43738</key>
    <string>cid43738.glif</string>
    <key>cid44114</key>
    <string>cid44114.glif</string>
    <key>cid44119</key>
    <string>cid44119.glif</string>
    <key>cid44123</key>
    <string>cid44123.glif</string>
    <key>cid44125</key>
    <string>cid44125.glif</string>
    <key>cid44128</key>
    <string>cid44128.glif</string>
    <key>cid44136</key>
    <string>cid44136.glif</string>
    <key>cid44145</key>
    <string>cid44145.glif</string>
    <key>cid44151</key>
    <string>cid44151.glif</string>
    <key>cid44164</key>
    <string>cid44164.glif</string>
    <key>cid44168</key>
    <string>cid44168.glif</string>
    <key>cid44171</key>
    <string>cid44171.glif</string>
    <key>cid46950</key>
    <string>cid46950.glif</string>
    <key>cid46958</key>
    <string>cid46958.glif</string>
    <key>cid46965</key>
    <string>cid46965.glif</string>
    <key>cid46968</key>
    <string>cid46968.glif</string>
    <key>cid46970</key>
    <string>cid46970.glif</string>
    <key>cid46974</key>
    <string>cid46974.glif</string>
    <key>cid47002</key>
    <string>cid47002.glif</string>
    <key>cid47015</key>
    <string>cid47015.glif</string>
    <key>cid47025</key>
    <string>cid47025.glif</string>
    <key>cid47027</key>
    <string>cid47027.glif</string>
    <key>cid59633</key>
    <string>cid59633.glif</string>
    <key>cid59948</key>
    <string>cid59948.glif</string>
    <key>cid60861</key>
    <string>cid60861.glif</string>
    <key>cid61149</key>
    <string>cid61149.glif</string>
    <key>cid61898</key>
    <string>cid61898.glif</string>
    <key>cid62858</key>
    <string>cid62858.glif</string>
    <key>cid62865</key>
    <string>cid62865.glif</string>
  </dict>
</plist>
