<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>cid02993</string>
      <string>cid12218</string>
      <string>cid12663</string>
      <string>cid12788</string>
      <string>cid12792</string>
      <string>cid13014</string>
      <string>cid15103</string>
      <string>cid16849</string>
      <string>cid17155</string>
      <string>cid17181</string>
      <string>cid18290</string>
      <string>cid19547</string>
      <string>cid19754</string>
      <string>cid19954</string>
      <string>cid20015</string>
      <string>cid20078</string>
      <string>cid20353</string>
      <string>cid21593</string>
      <string>cid24141</string>
      <string>cid24151</string>
      <string>cid24587</string>
      <string>cid24627</string>
      <string>cid25137</string>
      <string>cid25595</string>
      <string>cid25596</string>
      <string>cid26870</string>
      <string>cid31183</string>
      <string>cid35047</string>
      <string>cid35794</string>
      <string>cid35847</string>
      <string>cid35874</string>
      <string>cid35890</string>
      <string>cid35892</string>
      <string>cid35915</string>
      <string>cid35922</string>
      <string>cid35924</string>
      <string>cid35941</string>
      <string>cid35947</string>
      <string>cid35949</string>
      <string>cid35954</string>
      <string>cid35960</string>
      <string>cid35993</string>
      <string>cid35997</string>
      <string>cid36002</string>
      <string>cid36014</string>
      <string>cid36034</string>
      <string>cid36037</string>
      <string>cid36039</string>
      <string>cid36042</string>
      <string>cid36057</string>
      <string>cid36061</string>
      <string>cid36097</string>
      <string>cid36105</string>
      <string>cid36122</string>
      <string>cid36144</string>
      <string>cid36149</string>
      <string>cid36160</string>
      <string>cid36170</string>
      <string>cid36197</string>
      <string>cid36201</string>
      <string>cid36204</string>
      <string>cid36221</string>
      <string>cid36224</string>
      <string>cid36280</string>
      <string>cid36309</string>
      <string>cid36334</string>
      <string>cid36338</string>
      <string>cid36348</string>
      <string>cid36362</string>
      <string>cid36368</string>
      <string>cid36376</string>
      <string>cid36378</string>
      <string>cid36391</string>
      <string>cid36424</string>
      <string>cid36437</string>
      <string>cid36446</string>
      <string>cid36469</string>
      <string>cid36483</string>
      <string>cid36496</string>
      <string>cid36498</string>
      <string>cid36501</string>
      <string>cid36523</string>
      <string>cid36531</string>
      <string>cid38005</string>
      <string>cid38036</string>
      <string>cid39590</string>
      <string>cid39692</string>
      <string>cid39702</string>
      <string>cid39747</string>
      <string>cid39759</string>
      <string>cid39784</string>
      <string>cid39798</string>
      <string>cid39828</string>
      <string>cid39855</string>
      <string>cid39881</string>
      <string>cid39889</string>
      <string>cid40229</string>
      <string>cid40970</string>
      <string>cid40972</string>
      <string>cid40993</string>
      <string>cid41017</string>
      <string>cid41030</string>
      <string>cid41032</string>
      <string>cid41035</string>
      <string>cid41038</string>
      <string>cid41054</string>
      <string>cid41060</string>
      <string>cid41064</string>
      <string>cid41084</string>
      <string>cid41087</string>
      <string>cid41097</string>
      <string>cid41101</string>
      <string>cid41105</string>
      <string>cid41116</string>
      <string>cid41121</string>
      <string>cid41129</string>
      <string>cid41145</string>
      <string>cid41149</string>
      <string>cid41221</string>
      <string>cid41237</string>
      <string>cid43627</string>
      <string>cid43631</string>
      <string>cid43686</string>
      <string>cid43721</string>
      <string>cid43738</string>
      <string>cid44114</string>
      <string>cid44119</string>
      <string>cid44123</string>
      <string>cid44125</string>
      <string>cid44128</string>
      <string>cid44136</string>
      <string>cid44145</string>
      <string>cid44151</string>
      <string>cid44164</string>
      <string>cid44168</string>
      <string>cid44171</string>
      <string>cid46950</string>
      <string>cid46958</string>
      <string>cid46965</string>
      <string>cid46968</string>
      <string>cid46970</string>
      <string>cid46974</string>
      <string>cid47002</string>
      <string>cid47015</string>
      <string>cid47025</string>
      <string>cid47027</string>
      <string>cid59633</string>
      <string>cid59948</string>
      <string>cid60861</string>
      <string>cid61149</string>
      <string>cid61898</string>
      <string>cid62858</string>
      <string>cid62865</string>
    </array>
  </dict>
</plist>
